*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}

.sect1{
	position: relative;
	min-height: 400px;
}

.form-container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding: 15px 2% 0 2%;
	background-color: #fff !important;
	max-width: 750px;	
	margin: 0 auto;
}

.custom-title{
	position: relative;
}

.custom-title > h2{
	position: relative;
	color: #777;
	font-size: 30px;
	padding-right: 15px;
	display: inline-block;
	background-color: white;
	z-index: 2;
}

.custom-title > div{
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #ccc;
	top: 55px;
	z-index: 1;
}